@import "../common/reset";
@import "../common/font-awesome";
@import "../common/mixin";


body {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.fa {
  margin-right: 5px;
}