.page {

  >.title {
    font-size: 20px;
    font-weight: bold;
    margin: -20px -20px 20px -20px;
    padding: 20px;

    background: #fbfbfb;
    border-bottom: 1px solid #dcdcdc;
  }

  padding-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;

  &.white, &.default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:not(:disabled):hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }

  &.green, &.success {
    background-color: #5cb85c;
    border-color: #4cae4c;

    &:not(:disabled):hover {
      background-color: #449d44;
      border-color: #398439;
    }
  }

  &.blue, &.primary {
    background-color: #337ab7;
    border-color: #2e6da4;

    &:not(:disabled):hover {
      background-color: #286090;
      border-color: #204d74;
    }
  }

  &.red, &.danger {
    background-color: #d9534f;
    border-color: #d43f3a;

    &:not(:disabled):hover {
      background-color: #c9302c;
      border-color: #ac2925;
    }
  }

  &.lightblue, &.info {
    background-color: #5bc0de;
    border-color: #46b8da;

    &:not(:disabled):hover {
      background-color: #31b0d5;
      border-color: #269abc;
    }
  }

  &.small {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &.x-small {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;

  }
}