@import "../common/mixin";

.BaseList {
  table {
    width: 100%;
    max-width: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
  }

  tr:nth-child(even) {
    background: #f9f9f9;
  }

  col {
    &.colCheck {
      width: 30px;
    }

    &.colAction {
      width: 60px;
    }
  }

  td, th {
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 0 8px;
  }

  th {
    background: #EBF2F7;
    line-height: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }

  td {
    line-height: 24px;
  }

  .colCheck,.colAction {
    padding: 0;
    text-align: center;
  }

  table .fa {
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }

    &.edit:hover {
      color: #5bc0de;
    }

    &.delete:hover {
      color: #d9534f;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: .3;
      &:hover {
        color: inherit;
      }
    }
  }

  .button-wrapper {
    .button {
      margin: 15px 15px 15px 0;
    }
  }
}