@import "../common/mixin";


.App {
  @include flex-container(column);
  height: 100%;

  & > .main {
    @include flex-container();
    flex: 1 0;
  }

  .page-wrapper {
    position: relative;
    flex: 1 0;
    padding: 20px;

    overflow: auto;
  }
}