.CategoryComposer {
  margin-top: 20px;

  input {
    padding: 5px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;
    &:focus {
      border-color: #66afe9;
    }
  }
}