.DashBoardPage {
  .block {
    line-height: 30px;
    .title {
      background: #F1F7FD;
      padding-left: 8px;
      color: #09c;
      border-radius: 3px;
    }
    .content {
      color: #555;
      p {
        padding-left: 8px;
        &:not(:last-child) {
          border-bottom: 1px dotted #DEEFFB ;
        }
      }

      label {
        display: inline-block;
        width: 100px;
      }

      a {
        color: #0088c3;
      }

    }
  }
}