.LoginPage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f1f1f1;

  .main {
    width: 350px;
    margin: 0 auto;
    padding-top: 15%;
  }

  .login-box {

    $label-width: 60px;

    padding: 25px 40px 25px 25px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);

    .label {
      display: inline-block;
      width: $label-width;
      text-align: right;
    }

    p {
      margin: 20px 0;
    }

    input.txt {
      width: 180px;
      width: calc(100% - #{$label-width});
      height: 30px;
      padding: 5px 8px;
    }

    input.checkbox {
      margin-right: 5px;
    }

    .auto-login {
      margin-left: $label-width;
    }

    .button-wrapper {
      margin-top: 30px;
      margin-bottom: 0;
      text-align: center;
    }

    .forget-password {
      float: right;
    }
  }

  h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
    color: #FFF;
    text-shadow: 1px 1px 5px #000;
  }

  .copyright {
    margin-top: 20px;
    text-align: center;
    color: #999;
    font-size: 12px;
  }

  .Alert {
    right: 150px;
    .inner {
      box-shadow: 1px 1px 5px 0 #000;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}