@import "../common/mixin";

.Navigation {
  flex-shrink: 0;
  width: 100px;
  background: #eee;
  color: #eee;

  li {
    line-height: 34px;
    background: #E0E0E0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.0470588);

    &:hover {
      background: #CFCFCF;
    }

    &.active {
      font-weight: bold;
      background: #CFCFCF;
      color:red;
    }

    a {
      display: block;
      color: #222;
      padding-left: 20px;

      text-decoration: none;
    }
  }

}