@import "../common/markdown-editor";
@import "../common/markdown";

.PostEditPage {

  $border: 1px solid #bdc3c7;
  .title-wrapper {
    margin: 20px 0;
    input {
      font-size: 20px;
      padding: 8px;
      outline: none;
      border: none;
      border-bottom: $border;
      width: 100%;
    }
  }
  .category-wrapper {

    select {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 16px;
      color: #959694;
    }

    .add-category {
      display: inline-block;
      margin-left: 10px;
      input {
        padding: 3px 8px;
      }
    }
  }
  .editor-wrapper {
    border: $border;

    .CodeMirror {
      padding: 0 10px;
    }
  }
  .editor-toolbar:before {
    background: none;
  }
  .editor-status {
    position: absolute;
    margin-top: -36px;
    line-height: 36px;
    padding-left: 10px;

    color: #959694;
  }

  .button-wrapper {
    margin-top: 20px;
    .button {
      margin-right: 20px;
    }
  }

  .editor-preview {
    @extend .markdown;
    padding: 15px;
    background: whitesmoke;
  }

  .tag-wrapper{
    .tag-title{
      margin:20px 0 10px;
      padding-bottom: 5px;
    }

    input {
      font-size: 20px;
      padding: 8px;
      outline: none;
      border: none;
      border-bottom: $border;
      width: 100%;
    }

    .tag-suggest{
      margin: 25px 0 0;
      overflow: hidden;
      zoom: 1;

      dt{
        float: left;
        padding: 5px 8px 0 0;
        color: #666;
      }

      dd{
        float: left;
        overflow: hidden;
        zoom: 1;
        width: 604px;

        a{
          float: left;
          margin: 0 10px 10px 0;
          border: 1px solid #e2e3e5;
          padding: 0 8px;
          line-height: 24px;
          color:#333;
        }

        a:hover{
          color:#666;
        }
      }
    }
  }
}