@import "../common/mixin";
@import "./BaseList";

.PostList {
  @extend .BaseList;

  col {

    &.colCategory {
      width: 15%;
    }

    &.colAuthor {
      width: 15%;
    }

    &.colDate {
      width: 15%;
      min-width: 200px;
    }
  }
}