@import "../common/mixin";

.TopBar {

  height: 50px;
  line-height: 50px;
  padding: 0 20px;

  background: #3993ba;
  color: #fff;

  h1 {
    display: inline-block;
    font-size: 18px;
    a:hover {
      color: #eee;
      text-decoration: none;
    }
  }

  a {
    color: #eee;
    text-decoration: none;
    transition:.15s linear;

    &:hover {
      color: #00b9eb;
    }
  }

  .site-link {
    font-size: 14px;
    margin-left: 20px;
  }
}