@import "../common/mixin";

.UserPage {

  .title {

    margin-bottom: 20px;

    h2 {
      display: inline-block;
    }

    .add-post {
      @extend .button.blue;
      margin-left: 10px;
    }
  }
  dt {
    color: #4cae4c; 
    font-size: 14px;
    font-weight: bold;
  }
  dd {

    margin: 10px 0;
    input {
      display: block;
      width: 200px;
      height: 30px;
      padding: 5px;
      border-radius: 3px;
      border: 1px solid #aaa;
      outline: none;
      font-size: 12px;
    }    
  }
}