// http://eslint.org/docs/rules
{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "think": false,
    "firekylin": false
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "jsx": true
      },
      "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-unused-expressions": 0,
    "react/jsx-no-undef": 2,
    "new-cap": 0,
    "no-shadow": 0,
    "no-use-before-define": 0,
    "no-console": 1,
    "eol-last": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "no-trailing-spaces": 2,
    "nonblock-statement-body-position": 2,
    "newline-per-chained-call": [2, {"ignoreChainWithDepth": 3}],
    "space-before-blocks": 2,
    "space-in-parens": 2,
    "semi-spacing": 2,
    "comma-spacing": 2,
    "no-tabs": 2,
    "new-parens": 2
  }
}
