@mixin icon($width, $height, $bg: transparent, $ext...) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  line-height: $height;
  margin-bottom: 3px;
  background: $bg no-repeat $ext;
  vertical-align: middle;
  text-align: center;
}

@mixin flex-container($direction: row, $justify-content: space-between, $align-items: stretch) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
