
article {
  border-bottom:1px solid #ddd;
  border-top:1px solid #fff;
  position:relative;
  padding:30px 0;
  word-wrap: break-word;
}


article .meta {
  position:relative;
  float:right;
  color:#555;
  font-size: .9em;
  line-height: 2;
  width:auto;
  text-align:right;
}

article .meta a {
  color:#999;
}

article .meta .date,
article .meta .comment,
article .meta .tags {
  position:relative;
}

article h1.title {
  color:#333;
  font-size:2em;
  font-weight:300;
  line-height:35px;
  margin-bottom:25px;
}

article h1.title a {
  color:#333;
}

article h1.title a:hover {
  color:#2479CC;
  transition:color .3s;
}

article button,
article input.runcode { 
  line-height: 1;
  border: none;
  cursor: pointer; 
  padding: 0.625em 0.5em;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, .1);
  background:#12b0e6;
  color:#fff;
  font-size:14px;
  margin-top:10px;
  -webkit-appearance: button;
}

article input.runcode:hover,
article input.runcode:focus,
article input.runcode:active {
  background: #f6ad08;
}

article strong {
  font-weight:700;
}

article em {
  font-style:italic;
}

article blockquote {
  margin:10px 0 0 0;
  padding:15px 20px;
  border-left:5px solid #2479CC;
  background-color: #f8f8f8;
}

article blockquote p{
  margin-bottom: 0;
}

article blockquote a{
  word-break: break-all;
  word-wrap: break-word;
}

article code {
    font-family: "Consolas","Courier New",Courier,mono,serif;
  font-size: 80%;
  margin: 0 2px;
  padding: 4px 5px;
  background-color: #f2f2f2;
  vertical-align: middle;
  border-radius: 5px;
}

article pre {    
  font-family: "Consolas","Liberation Mono",Courier,monospace;
    font-size: 14px;
    line-height: 1.6;
  color: #5d6a6a;
  padding: 0.6em;
  border-left:5px solid #ccc;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  overflow: hidden;
}

article pre code{
  border-radius: 0 0 0 0 ;
  background-color: transparent ;
  border: 0 ;
  padding: 0;
  margin: 0;
  font-size: 100%;
  display: block;
  position: relative;
}

article pre b.name {
  position: absolute;
  line-height: 1;
  top: 10px;
  right: 10px;
  font-size: 60px;
  color: #eee;
  pointer-events: none;
}
@media screen and (max-width:768px) {
  article pre b.name {
    font-size: 30px;
  }
}

article img { 
  padding: 0;
  display:block;
  border:1px solid #ccc;
  margin:10px 0 5px 0;
  max-width: 100%;
}

article table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

article table th,
article table td {
  border: 0;
}

article table th { 
  border-bottom: 2px solid #848484; 
  text-align: left; 
  padding: 6px 20px;
}

article table td {
  border-bottom: 1px solid #d0d0d0; 
  padding: 6px 20px;
}

article .expire-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color: #ffffc0;
  border-left: 5px solid #fff000;
  color: #333;
}

article .aliyun-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color:#f0f8f4;
    border-left: 5px solid #7cc4a0;
}

article .post-info {
  font-size:14px;
}

article .entry-content {
  font-size: 16px;
  line-height:1.8;
  word-wrap:break-word;
}

article .entry-content .date {
  color:#999;
  font-size:14px;
  font-style:italic;
}

/*article .entry-content a:hover {
  text-decoration:underline;
}*/

article .entry-content p,
article .entry-content blockquote,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl,
article .entry-content table,
article .entry-content iframe,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content p,
article .entry-content pre {
  margin-top:15px;
}

article .entry-content ul ul,
article .entry-content ul ol,
article .entry-content ul dl,
article .entry-content ol ul,
article .entry-content ol ol,
article .entry-content ol dl,
article .entry-content dl ul,
article .entry-content dl ol,
article .entry-content dl dl,
article .entry-content blockquote > p:first-of-type {
  margin-top:0;
}

article .entry-content ul,
article .entry-content ol,
article .entry-content dl {
  margin-left:25px;
}



/*** page-tag ***/


article.tags section a {
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: rgba(36,121,204,.8);
  border: 1px solid rgba(36,121,204,.8);
  border-radius: 4px;
  margin: 0 15px 10px 0;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
}
article.tags section a:hover {
  color: #2479CC;
  border-color: #2479CC;
}
a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

/* 文章内代码行号高亮 */
article .firekylin-code > ul {
  list-style: decimal;
  background-color: #fff;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}
article .firekylin-code li {
  list-style: decimal-leading-zero;
  border-left: 1px solid #ddd;
  padding-left: 2px;
  position: relative;
}
article .firekylin-code li.mark {
  background-color: #fffbdd !important;
}
article .firekylin-code li:hover {
  background-color: #f3f3f3 !important;
}
article .firekylin-code .line-num {
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  left: -40px;
  cursor: pointer;
}
article .firekylin-code li:nth-of-type(even) {
  background-color: #fcfcfc;
  color: inherit;
}
article .entry-content pre .firekylin-code {
  background-color: #eee;
}
/*下面是覆盖默认样式, 为了防闪动*/
article pre {
  border-left: none;
  padding: 0;  
}
article .entry-content pre code {
  font-size: 12px;
  background-color: #fff;
  border: 1px solid  #eee;
  padding: 0;
  line-height: 26px;
}
/** toc 目录样式 **/
.toc {
  float: right;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  margin: 0 0 15px 20px;
  max-width: 260px;
  min-width: 120px;
  padding: 6px;
  background: #FFF;
}
.toc::before {
  content: '文章目录';
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
  display: block;
}
.toc:empty {
    display: none;
}
@media screen and (max-width: 640px) {
  .toc {
      float: none;
  }
}