/*.markdown .highlight{
  -webkit-overflow-scrolling: touch;
}
#main .wrap,
#page-index article .desc {
  word-wrap: break-word;
  word-break: break-all;
}
.markdown {
  line-height: 1.6;
  color: #2c3f51!important;
}
.markdown blockquote,
.markdown p,
.markdown pre,
.markdown pre.prettyprint {
  margin: 0 0 1.1em;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 700;
  margin: 1.2em 0 .6em;
}
.markdown h1 {
  font-size: 2.4em;
}
.markdown h2 {
  font-size: 2em;
}
.markdown h3 {
  font-size: 1.5em;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h5 {
  font-size: 1em;
}
.markdown h6 {
  font-size: .75em;
}
.markdown hr {
  margin: 2em 0;
  border: 0;
  border-top: 1px solid rgba(102,128,153,.1);
}
.markdown b,
.markdown strong {
  font-weight: 700;
}
.markdown a {
  background-color: transparent;
  color: #1980e6!important;
  text-decoration: none;
}
.markdown a:focus,
.markdown a:hover {
  color: #0f4d8a!important;
  text-decoration: underline!important;
}
.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown table td,
.markdown table th,
.markdown table thead:first-child tr:first-child th {
  padding: .5em;
  border: 1px solid #ddd;
  line-height: 1.5;
}
.markdown blockquote {
  background-color: rgba(102,128,153,.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  border-left: 10px solid rgba(102,128,153,.075);
}
.markdown blockquote p {
  margin: 0;
}
.markdown ul {
  padding-left: 40px;
  margin-bottom: 16px;
}
.markdown ul li {
  list-style: disc;
}
.markdown .note-tags a:hover {
  text-decoration: none!important;
}
.markdown .note-tags a:hover .notebook {
  background: rgba(44,63,81,.3);
  color: #fff;
}
.markdown .note-tags .notebook {
  -webkit-transition: background-color .2s ease-in-out,color .2s ease-in-out;
  transition: background-color .2s ease-in-out,color .2s ease-in-out;
  border-radius: 0;
  padding: 2px 5px;
  background-color: rgba(102,128,153,.175);
  color: rgba(44,63,81,.5);
  margin-right: 6px;
}


#page-index h1.search {
  padding: 20px 30px;
  background-color: #f6f9fa;
  text-align: center;
  color: #999;
}
#page-index h1.search b {
  color: #2479CC;
  padding: 0 5px;
}
#page-index article {
  border-bottom: 1px solid #f6f9fa;
  border-top: 1px solid #fff;
  padding: 30px 30px 20px;
  position: relative;
}
#page-index article a {
  color: #222;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
}
#page-index article a:hover {
  color: #2479CC;
}
#page-index article .meta {
  position: absolute;
  text-align: right;
  font-size: 14px;
  line-height: 14px;
  color: #555;
  top: 30px;
  right: 30px;
}
#page-index article .meta .comments {
  padding-top: 8px;
  color: #999;
}
#page-index article h1 {
  font-size: 2em;
  line-height: 35px;
  font-weight: normal;
  margin: 0 0 25px;
}
#page-index article .desc {
  font-size: 16px;
  line-height: 1.8;
  color: #2c3f51!important;
}
#page-index article p.more {
  margin: 15px 0 0;
}
#page-index article p.more a {
  color: #2479CC;
}
#page-index article p.more a:hover {
  text-decoration: underline;
}

#page-archive {
  padding: 0 30px;
}
#page-archive section {
  position: relative;
}
#page-archive section h1.year {
  border-top: 1px solid #fff;
  line-height: 35px;
  padding-top: 15px;
  font-size: 30px;
  color: #999;
  position: absolute;
  top: 0;
  width: 200px;
}
#page-archive section h1.year::before {
  border-top: 1px solid #eee;
  content: "";
  position: absolute;
  top: -2px;
  width: 100%;
}
#page-archive section article {
  margin-left: 200px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
  position: relative;
}
#page-archive section article h1 {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
}
#page-archive section article h1 a {
  color: #222;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
}
#page-archive section article h1 a:hover {
  color: #2479CC;
}
#page-archive section article .meta {
  color: #222;
  float: right;
  font-size: 13px;
  line-height: 35px;
  position: relative;
  text-align: right;
  width: auto;
}
#page-archive section article .meta .time {
  margin-right: 5px;
}
#page-archive section article .meta a {
  color: #666;
  text-decoration: none;
}
#page-archive section article .meta a:hover,
#page-post article a:hover {
  color: #2479CC;
}


.markdown pre{
  font-size: 16px;
  border-left: 5px solid #ccc;
  font-family: "Consolas","Courier New",Courier,mono,serif;
}


#page-about,
#page-about section,
#page-post,
#page-tags {
  padding: 30px;
  padding-top: 31px;
}
#page-tags {
  color: #222;
}
#page-about h1,
#page-tags h1 {
  color: #999;
  margin-bottom: 10px;
}
#page-tags section {
  padding: 5px 5px 0;
}
#page-tags section a {
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: rgba(36,121,204,.8);
  border: 1px solid rgba(36,121,204,.8);
  border-radius: 4px;
  margin: 0 15px 10px 0;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
}
#page-tags section a:hover {
  color: #2479CC;
  border-color: #2479CC;
}
#page-post article {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  position: relative;
}
#page-post article img {
  max-width: 100%;
}
#page-post article a {
  color: #222;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
}
#page-post article .meta {
  position: relative;
  float: right;
  text-align: right;
  font-size: 14px;
  line-height: 14px;
  color: #555;
}
#page-post article .meta .tags {
  padding-top: 10px;
}
#page-post article .meta .tags a {
  color: #666;
}
#page-post article .meta .tags a:hover {
  color: #2479CC;
}
#page-post article h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 2em;
  line-height: 35px;
  font-weight: normal;
}
#page-post article .post-info {
  padding: 20px 20px 10px;
  border: 1px solid #dedede;
  background-color: #f6f9fa;
  font-size: 14px;
}
#page-post article .post-info i {
  color: #999;
}
#page-links,
#page-links section {
  padding: 30px;
}
#page-links h1 {
  color: #999;
  margin-bottom: 10px;
}
#page-links ul li {
  line-height: 2;
}
#page-links ul li i {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  color: #5ab300;
}
#comments {
  color: #666;
}
#comments h2 {
  padding: 10px 0;
}*/

article {
  border-bottom:1px solid #ddd;
  border-top:1px solid #fff;
  position:relative;
  padding:30px 0;
}


article .meta {
  position:relative;
  float:right;
  color:#555;
  font-size: .9em;
  line-height: 2;
  width:auto;
  text-align:right;
}

article .meta a {
  color:#999;
}

article .meta .date,
article .meta .comment,
article .meta .tags {
  position:relative;
}

article h1.title {
  color:#333;
  font-size:2em;
  font-weight:300;
  line-height:35px;
  margin-bottom:25px;
}

article h1.title a {
  color:#333;
}

article h1.title a:hover {
  color:#2479CC;
  transition:color .3s;
}

article button,
article input.runcode { 
  line-height: 1;
  border: none;
  cursor: pointer; 
  padding: 0.625em 0.5em;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, .1);
  background:#12b0e6;
  color:#fff;
  font-size:14px;
  margin-top:10px;
  -webkit-appearance: button;
}

article input.runcode:hover,
article input.runcode:focus,
article input.runcode:active {
  background: #f6ad08;
}

article strong {
  font-weight:700;
}

article em {
  font-style:italic;
}

article blockquote {
  margin-top:10px;
  padding:15px 20px;
  border-left:5px solid #2479CC;
  background-color: #f8f8f8;
}

article code {
    font-family: "Consolas","Courier New",Courier,mono,serif;
  font-size: 80%;
  margin: 0 2px;
  padding: 4px 5px;
  background-color: #f2f2f2;
  vertical-align: middle;
  border-radius: 5px;
}

article pre {    
  font-family: "Consolas","Liberation Mono",Courier,monospace;
    font-size: 14px;
    line-height: 1.6;
  color: #5d6a6a;
  padding: 0.6em;
  border-left:5px solid #ccc;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  overflow: hidden;
}

article pre code{
  border-radius: 0 0 0 0 ;
  background-color: transparent ;
  border: 0 ;
  padding: 0;
  margin: 0;
  font-size: 100%;
  display: block;
  position: relative;
}

article pre b.name {
  position: absolute;
  line-height: 1;
  top: 10px;
  right: 10px;
  font-size: 60px;
  color: #eee;
  pointer-events: none;
}

article img { 
  padding: 0;
  display:block;
  border:1px solid #ccc;
  margin:10px 0 5px 0;
}

article table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

article table th,
article table td {
  border: 0;
}

article table th { 
  border-bottom: 2px solid #848484; 
  text-align: left; 
  padding: 6px 20px;
}

article table td {
  border-bottom: 1px solid #d0d0d0; 
  padding: 6px 20px;
}

article .expire-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color: #ffffc0;
  border-left: 5px solid #fff000;
  color: #333;
}

article .aliyun-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color:#f0f8f4;
    border-left: 5px solid #7cc4a0;
}

article .post-info {
  font-size:14px;
}

article .entry-content {
  font-size: 16px;
  line-height:1.8;
  word-wrap:break-word;
}

article .entry-content .date {
  color:#999;
  font-size:14px;
  font-style:italic;
}

/*article .entry-content a:hover {
  text-decoration:underline;
}*/

article .entry-content p,
article .entry-content blockquote,
article .entry-content ul,
article .entry-content ol,
article .entry-content dl,
article .entry-content table,
article .entry-content iframe,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content p,
article .entry-content pre {
  margin-top:15px;
}

article .entry-content ul ul,
article .entry-content ul ol,
article .entry-content ul dl,
article .entry-content ol ul,
article .entry-content ol ol,
article .entry-content ol dl,
article .entry-content dl ul,
article .entry-content dl ol,
article .entry-content dl dl,
article .entry-content blockquote > p:first-of-type {
  margin-top:0;
}

article .entry-content ul,
article .entry-content ol,
article .entry-content dl {
  margin-left:25px;
}



/*** page-tag ***/


article.tags section a {
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: rgba(36,121,204,.8);
  border: 1px solid rgba(36,121,204,.8);
  border-radius: 4px;
  margin: 0 15px 10px 0;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
}
article.tags section a:hover {
  color: #2479CC;
  border-color: #2479CC;
}