
@media screen and (max-width:768px) {
  #header {
    -webkit-transform: translate3D(0,0,0);
    -ms-transform: translate3D(0,0,0);
    transform: translate3D(0,0,0);
    -webkit-transition: all .2s cubic-bezier(.4,.01,.165,.99);
    transition: all .2s cubic-bezier(.4,.01,.165,.99);
    display: block;
  }
}

@media screen and (max-width:768px) {
  #sidebar.behavior_1 {
    -webkit-transform: translate3D(-250px,0,0);
    -ms-transform: translate3D(-250px,0,0);
    transform: translate3D(-250px,0,0);
  }
  #sidebar.behavior_2 {
    -webkit-transform: translate3D(0,0,0);
    -ms-transform: translate3D(0,0,0);
    transform: translate3D(0,0,0);
  }
  #sidebar {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
    transition: -webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
    transition: transform .2s cubic-bezier(.4,.01,.165,.99);
    transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
  }
  #sidebar .profile {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #sidebar .profile a,
  #sidebar .profile img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  #sidebar .profile span {
    display: none;
  }
}

@media screen and (min-width:769px) and (max-width:1024px) {
  #sidebar {
    width: 75px;
  }
  #sidebar .profile {
    padding-top: 20px;
  }
  #sidebar .profile a,
  #sidebar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  #sidebar .profile span {
    display: none;
  }
  #sidebar .buttons li a {
    padding: 0;
  }
  #sidebar .buttons li a.inline {
    width: 100%;
  }
  #sidebar .buttons li a i {
    font-size: 18px;
    display: block;
    margin: 0 auto;
  }
  #sidebar .buttons li a span {
    display: none;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  #main {
    padding-left: 115px;
  }
}

@media screen and (max-width:769px) {
  #main {
    width: 100%;
    min-height: 100%;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width:769px) {
  article {
    background-color: #fff;
    padding: 10px;
  }
  article .meta {
    display: none;
  }
  article h1 {
    font-size: 22px;
    padding: 5px 0 10px;
    margin: 0;
  }
  article .desc {
    color: #999;
    font-size: 14px;
  }
  article p.more {
    font-size: 14px;
    margin: 5px 0;
  }
}
