
#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #202020;
  overflow: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
#sidebar li,
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar .profile {
  padding-top: 40px;
  padding-bottom: 10px;
}
#sidebar .profile a,
#sidebar .profile img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  overflow: hidden;
}
#sidebar .profile a {
  display: block;
  margin: 0 auto;
}
#sidebar .profile span {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #999;
  text-align: center;
}
#sidebar .buttons {
  margin: 0 0 20px;
}
#sidebar .buttons li {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}
#sidebar .buttons li a {
  padding-left: 25px;
  display: block;
  color: #999;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
  text-decoration: none;
}
#sidebar .buttons li a i,
#sidebar .buttons li a span {
  display: inline-block;
  vertical-align: middle;
}
#sidebar .buttons li a i {
  font-size: 20px;
  width: 25px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 20px;
}
#sidebar .buttons li a:hover {
  color: rgba(153,153,153,.8);
}
#sidebar .buttons li a.inline{
  display: inline-block;
  width: 40px;
}
#sidebar-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  display: none;
  background-color: rgba(255,255,255,0);
}