{% extends './layout.html' %}

{% block title %}
归档 - {{options.title}}
{% endblock %}

{%block body %}

<div class="archive">
<article class="post page">
  <div class="post-content">
    <header>
      <h1 class="title">
        <h2 class="archive-title">归档</h2>
      </h1>
    </header>
    <div class="entry">
      {% for yearMonth,data in list%}
      <div class="entry-content">
          <h3>{{yearMonth}} ({{data.length}})</h3>
          <ul>
          {% for item in data %}
          <li>
              <a href="/post/{{item.pathname}}.html" title="{{item.title}}">{{item.title}}</a>&nbsp;
              <span class="date">{{think.datetime(item.create_time, 'YYYY-MM-DD')}}</span>
          </li>
          {% endfor %}
          </ul>
      </div>
      {% endfor %}
    </div>
    <footer>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>
</div>
{% endblock %}