{% extends './layout.html' %}

{% block title %}
{{post.title}} - {{options.title}}
{% endblock %}

{% block body %}
<article class="post">
  <!--<% if (item.photos && item.photos.length){ %>
    <%- partial('post/gallery') %>
  <% } %>-->
  <div class="post-content">
    <header>
      <div class="icon"></div>
      <time datetime="{{post.create_time}}">
        <a href="/post/{{post.pathname}}.html">
          {{think.datetime(post.create_time, 'MM月DD, YYYY')}}
        </a>
      </time>
      <h1 class="title"><a href="/post/{{post.pathname}}.html">{{post.title}}</a></h1>
    </header>
    <div class="entry">
      {{post.content | safe}}
    </div>
    <footer>
      {% if post.cate.length %}
      <div class="categories">
        {% for index, cate in post.cate %}
        {% if index !== 0 %}, {% endif %}
        <a href="/cate/{{cate.name}}" data-cate="{{cate.name}}">
            <code class="notebook">{{cate.name}}</code>
        </a>
        {% endfor%}
      </div>
      {% endif %}
      {% if post.tag.length %}
      <div class="tags">
        {% for tag in post.tag %}
        <a href="/tags/{{tag.name}}" data-tag="{{tag.name}}">
            <code class="notebook">{{tag.name}}</code>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      <div class="clearfix"></div>
      <p>{{themeConfig.cc | safe}}</p>
    </footer>
  </div>
</article>

{% if post.allow_comment %}
    {% include "./inc/comment.html" %}
{% endif %}
{% endblock %}
