.markdown .highlight,
body {
  -webkit-overflow-scrolling: touch;
}
#main .wrap,
#page-index article .desc {
  word-wrap: break-word;
  word-break: break-all;
}
@font-face {
  font-family: iconfont;
  src: url(../font/iconfont.eot);
  src: url(../font/iconfont.eot?#iefix) format("embedded-opentype"),url(../font/iconfont.ttf) format("truetype"),url(../font/iconfont.svg#iconfont) format("svg");
}
.iconfont {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e600";
}
.icon-archive:before {
  content: "\e601";
}
.icon-user:before {
  content: "\e602";
}
.icon-rss:before {
  content: "\e603";
}
.icon-tags:before {
  content: "\e604";
}
.icon-home:before {
  content: "\e605";
}
.icon-search:before {
  content: "\e606";
}
.icon-googleplus:before {
  content: "\e607";
}
.icon-weixin:before {
  content: "\e608";
}
.icon-mail:before {
  content: "\e609";
}
.icon-twitter:before {
  content: "\e60a";
}
.icon-linkedin:before {
  content: "\e60b";
}
.icon-stackoverflow:before {
  content: "\e60c";
}
.icon-github:before {
  content: "\e60d";
}
.icon-facebook:before {
  content: "\e60e";
}
.icon-right:before {
  content: "\e60f";
}
.icon-left:before {
  content: "\e610";
}
.icon-link:before {
  content: "\e611";
}
.icon-https:before {
  content: "\e612";
}
.markdown {
  line-height: 1.6;
  color: #2c3f51!important;
}
.markdown blockquote,
.markdown p,
.markdown pre,
.markdown pre.prettyprint {
  margin: 0 0 1.1em;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 700;
  margin: 1.2em 0 .6em;
}
.markdown h1 {
  font-size: 2.4em;
}
.markdown h2 {
  font-size: 2em;
}
.markdown h3 {
  font-size: 1.5em;
}
.markdown h4 {
  font-size: 1.25em;
}
.markdown h5 {
  font-size: 1em;
}
.markdown h6 {
  font-size: .75em;
}
.markdown hr {
  margin: 2em 0;
  border: 0;
  border-top: 1px solid rgba(102,128,153,.1);
}
.markdown b,
.markdown strong {
  font-weight: 700;
}
.markdown a {
  background-color: transparent;
  color: #1980e6!important;
  text-decoration: none;
}
.markdown a:focus,
.markdown a:hover {
  color: #0f4d8a!important;
  text-decoration: underline!important;
}
.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown table td,
.markdown table th,
.markdown table thead:first-child tr:first-child th {
  padding: .5em;
  border: 1px solid #ddd;
  line-height: 1.5;
}
.markdown blockquote {
  background-color: rgba(102,128,153,.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  border-left: 10px solid rgba(102,128,153,.075);
}
.markdown blockquote p {
  margin: 0;
}
.markdown ul {
  padding-left: 40px;
  margin-bottom: 16px;
}
.markdown ul li {
  list-style: disc;
}
.markdown .note-tags a:hover {
  text-decoration: none!important;
}
.markdown .note-tags a:hover .notebook {
  background: rgba(44,63,81,.3);
  color: #fff;
}
.markdown .note-tags .notebook {
  -webkit-transition: background-color .2s ease-in-out,color .2s ease-in-out;
  transition: background-color .2s ease-in-out,color .2s ease-in-out;
  border-radius: 0;
  padding: 2px 5px;
  background-color: rgba(102,128,153,.175);
  color: rgba(44,63,81,.5);
  margin-right: 6px;
}
#header {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-transition: -webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
  transition: -webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
  transition: transform .2s cubic-bezier(.4,.01,.165,.99);
  transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
  -webkit-tap-highlight-color: transparent;
  font-family: "Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
}
body,
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
a {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: #323436;
}
@media screen and (max-width:768px) {
  #header {
    -webkit-transform: translate3D(0,0,0);
    -ms-transform: translate3D(0,0,0);
    transform: translate3D(0,0,0);
    -webkit-transition: all .2s cubic-bezier(.4,.01,.165,.99);
    transition: all .2s cubic-bezier(.4,.01,.165,.99);
    display: block;
  }
}
body.side #header .btn-bar:before {
  width: 24px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
}
body.side #header .btn-bar:after {
  width: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 24px;
}
body.side #header .btn-bar i {
  opacity: 0;
}
#header h1 {
  text-align: center;
  font-size: 16px;
}
#header h1 a {
  color: #999;
}
#header .btn-bar {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
#header .btn-bar i,
#header .btn-bar:after,
#header .btn-bar:before {
  width: 22px;
  height: 1px;
  position: absolute;
  left: 14px;
  background-color: #999;
  -webkit-transition: all .2s cubic-bezier(.4,.01,.165,.99) .3s;
  transition: all .2s cubic-bezier(.4,.01,.165,.99) .3s;
}
#main,
#pagination {
  background-color: #fff;
}
#header .btn-bar i {
  top: 25px;
  opacity: 1;
}
#header .btn-bar:before {
  content: '';
  top: 17px;
}
#header .btn-bar:after {
  content: '';
  bottom: 16px;
}
#header a.me,
#header a.me img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
}
#header a.me {
  position: absolute;
  right: 10px;
  top: 10px;
}
body.side {
  position: fixed;
  -webkit-transform: translate3D(250px,0,0);
  -ms-transform: translate3D(250px,0,0);
  transform: translate3D(250px,0,0);
}
#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #202020;
  overflow: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
#sidebar li,
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar .profile {
  padding-top: 40px;
  padding-bottom: 10px;
}
#sidebar .profile a,
#sidebar .profile img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  overflow: hidden;
}
#sidebar .profile a {
  display: block;
  margin: 0 auto;
}
#sidebar .profile span {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #999;
  text-align: center;
}
#sidebar .buttons {
  margin: 0 0 20px;
}
#sidebar .buttons li {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}
#sidebar .buttons li a {
  padding-left: 25px;
  display: block;
  color: #999;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
  text-decoration: none;
}
#sidebar .buttons li a i,
#sidebar .buttons li a span {
  display: inline-block;
  vertical-align: middle;
}
#sidebar .buttons li a i {
  font-size: 20px;
  width: 25px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 20px;
}
#sidebar .buttons li a:hover {
  color: rgba(153,153,153,.8);
}
#sidebar .buttons li a.inline{
  display: inline-block;
  width: 40px;
}
@media screen and (max-width:768px) {
  #sidebar.behavior_1 {
    -webkit-transform: translate3D(-250px,0,0);
    -ms-transform: translate3D(-250px,0,0);
    transform: translate3D(-250px,0,0);
  }
  #sidebar.behavior_2 {
    -webkit-transform: translate3D(0,0,0);
    -ms-transform: translate3D(0,0,0);
    transform: translate3D(0,0,0);
  }
  #sidebar {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
    transition: -webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
    transition: transform .2s cubic-bezier(.4,.01,.165,.99);
    transition: transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);
  }
  #sidebar .profile {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #sidebar .profile a,
  #sidebar .profile img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  #sidebar .profile span {
    display: none;
  }
}
@media screen and (min-width:769px) and (max-width:1024px) {
  #sidebar {
    width: 75px;
  }
  #sidebar .profile {
    padding-top: 20px;
  }
  #sidebar .profile a,
  #sidebar .profile img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  #sidebar .profile span {
    display: none;
  }
  #sidebar .buttons li a {
    padding: 0;
  }
  #sidebar .buttons li a.inline {
    width: 100%;
  }
  #sidebar .buttons li a i {
    font-size: 18px;
    display: block;
    margin: 0 auto;
  }
  #sidebar .buttons li a span {
    display: none;
  }
}
#sidebar-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  display: none;
  background-color: rgba(255,255,255,0);
}
#main {
  padding-left: 250px;
  -webkit-overflow-scrolling: touch;
}
#main .wrap {
  max-width: 1100px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
  #main {
    padding-left: 75px;
  }
}
@media screen and (max-width:769px) {
  #main {
    width: 100%;
    padding-left: 0;
    background-color: #eee;
    min-height: 100%;
    padding-top: 50px;
  }
}

#page-index h1.search {
  padding: 20px 30px;
  background-color: #f6f9fa;
  text-align: center;
  color: #999;
}
#page-index h1.search b {
  color: #2479CC;
  padding: 0 5px;
}
#page-index article {
  border-bottom: 1px solid #f6f9fa;
  border-top: 1px solid #fff;
  padding: 30px 30px 20px;
  position: relative;
}
#page-index article a {
  color: #222;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
}
#page-index article a:hover {
  color: #2479CC;
}
#page-index article .meta {
  position: absolute;
  text-align: right;
  font-size: 14px;
  line-height: 14px;
  color: #555;
  top: 30px;
  right: 30px;
}
#page-index article .meta .comments {
  padding-top: 8px;
  color: #999;
}
#page-index article h1 {
  font-size: 2em;
  line-height: 35px;
  font-weight: normal;
  margin: 0 0 25px;
}
#page-index article .desc {
  font-size: 16px;
  line-height: 1.8;
  color: #2c3f51!important;
}
#page-index article p.more {
  margin: 15px 0 0;
}
#page-index article p.more a {
  color: #2479CC;
}
#page-index article p.more a:hover {
  text-decoration: underline;
}
@media screen and (max-width:769px) {
  #page-index h1.search {
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  #page-index article {
    margin: 5px 5px 0;
    background-color: #fff;
    padding: 10px;
  }
  #page-index article .meta {
    display: none;
  }
  #page-index article h1 {
    font-size: 22px;
    padding: 5px 0 10px;
    margin: 0;
  }
  #page-index article .desc {
    color: #999;
    font-size: 14px;
  }
  #page-index article p.more {
    font-size: 14px;
    margin: 5px 0;
  }
}
#pagination {
  height: 70px;
  line-height: 40px;
  padding: 15px 20px;
  margin: 0 auto;
  max-width: 960px;
}
#pagination li,
#pagination ul {
  height: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#pagination li.prev {
  float: left;
}
#pagination li.next {
  float: right;
}
#pagination a {
  display: block;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
  border: 1px solid #666;
  color: #666;
  text-decoration: none;
  padding: 0 15px;
  border-radius: 4px;
  text-align: center;
}
#pagination a:hover {
  border-color: #323436;
  color: #222;
}
@media screen and (max-width:769px) {
  #pagination {
    height: 50px;
    padding: 5px 0;
    margin-top: 5px;
  }
  #pagination li {
    width: 50%;
  }
  #pagination a {
    width: 100%;
    border-radius: 0;
    border: none;
  }
  #pagination a:first-child {
    border-right: 1px solid #f6f9fa;
  }
}
#page-archive {
  padding: 0 30px;
}
#page-archive section {
  position: relative;
}
#page-archive section h1.year {
  border-top: 1px solid #fff;
  line-height: 35px;
  padding-top: 15px;
  font-size: 30px;
  color: #999;
  position: absolute;
  top: 0;
  width: 200px;
}
#page-archive section h1.year::before {
  border-top: 1px solid #eee;
  content: "";
  position: absolute;
  top: -2px;
  width: 100%;
}
#page-archive section article {
  margin-left: 200px;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
  position: relative;
}
#page-archive section article h1 {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
}
#page-archive section article h1 a {
  color: #222;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
}
#page-archive section article h1 a:hover {
  color: #2479CC;
}
#page-archive section article .meta {
  color: #222;
  float: right;
  font-size: 13px;
  line-height: 35px;
  position: relative;
  text-align: right;
  width: auto;
}
#page-archive section article .meta .time {
  margin-right: 5px;
}
#page-archive section article .meta a {
  color: #666;
  text-decoration: none;
}
#page-archive section article .meta a:hover,
#page-post article a:hover {
  color: #2479CC;
}


.markdown pre{
  font-size: 16px;
  border-left: 5px solid #ccc;
  font-family: "Consolas","Courier New",Courier,mono,serif;
}


@media screen and (max-width:769px) {
  #page-archive {
    margin: 0;
    padding: 0;
  }
  #page-archive section {
    margin: 5px;
    background-color: #fff;
  }
  #page-archive section h1.year {
    width: 100%;
    position: static;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #f6f9fa;
  }
  #page-archive section h1.year::before {
    border: none;
  }
  #page-archive section article {
    padding: 5px;
    margin: 0 10px 5px;
    border-bottom: 1px solid #f6f9fa;
  }
  #page-archive section article .meta {
    display: none;
  }
  #page-archive section article h1 {
    font-size: 14px;
  }
}
#page-about,
#page-about section,
#page-post,
#page-tags {
  padding: 30px;
  padding-top: 31px;
}
#page-tags {
  color: #222;
}
#page-about h1,
#page-tags h1 {
  color: #999;
  margin-bottom: 10px;
}
#page-tags section {
  padding: 5px 5px 0;
}
#page-tags section a {
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: rgba(36,121,204,.8);
  border: 1px solid rgba(36,121,204,.8);
  border-radius: 4px;
  margin: 0 15px 10px 0;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99),border .2s cubic-bezier(.4,.01,.165,.99);
}
#page-tags section a:hover {
  color: #2479CC;
  border-color: #2479CC;
}
@media screen and (max-width:769px) {
  #page-about,
#page-tags {
    margin: 5px;
    padding: 0;
    background-color: #fff;
    min-height: -webkit-calc(100% - 10px);
  }
  #page-tags {
    min-height: calc(100% - 10px);
  }
  #page-about h1,
#page-tags h1 {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #f6f9fa;
  }
  #page-tags section {
    padding: 10px 10px 0;
  }
  #page-about {
    min-height: calc(100% - 10px);
  }
  #page-about section {
    padding: 10px;
  }
}
#page-post article {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  position: relative;
}
#page-post article img {
  max-width: 100%;
}
#page-post article a {
  color: #222;
  text-decoration: none;
  -webkit-transition: color .2s cubic-bezier(.4,.01,.165,.99);
  transition: color .2s cubic-bezier(.4,.01,.165,.99);
}
#page-post article .meta {
  position: relative;
  float: right;
  text-align: right;
  font-size: 14px;
  line-height: 14px;
  color: #555;
}
#page-post article .meta .tags {
  padding-top: 10px;
}
#page-post article .meta .tags a {
  color: #666;
}
#page-post article .meta .tags a:hover {
  color: #2479CC;
}
#page-post article h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 2em;
  line-height: 35px;
  font-weight: normal;
}
#page-post article .post-info {
  padding: 20px 20px 10px;
  border: 1px solid #dedede;
  background-color: #f6f9fa;
  font-size: 14px;
}
#page-post article .post-info i {
  color: #999;
}
@media screen and (max-width:769px) {
  #page-post {
    margin: 5px;
    padding: 10px;
    background-color: #fff;
  }
  #page-post article .meta {
    display: none;
  }
  #page-post article h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
#page-links,
#page-links section {
  padding: 30px;
}
#page-links h1 {
  color: #999;
  margin-bottom: 10px;
}
#page-links ul li {
  line-height: 2;
}
#page-links ul li i {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  color: #5ab300;
}
@media screen and (max-width:769px) {
  #page-links {
    margin: 5px;
    padding: 0;
    background-color: #fff;
    min-height: -webkit-calc(100% - 10px);
    min-height: calc(100% - 10px);
  }
  #page-links h1 {
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #f6f9fa;
  }
  #page-links section {
    padding: 10px;
  }
}
#comments {
  color: #666;
}
#comments h2 {
  padding: 10px 0;
}