@font-face {
  font-family: 'icomoon';
  src:url('../font/icomoon.eot?npzd73');
  src:url('../font/icomoon.eot?#iefixnpzd73') format('embedded-opentype'),
    url('../font/icomoon.woff?npzd73') format('woff'),
    url('../font/icomoon.ttf?npzd73') format('truetype'),
    url('../font/icomoon.svg?npzd73#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e66b";
}

.icon-wegene:before {
  content: "\e667";
}

.icon-contact:before {
  content: "\e668";
}

.icon-about:before {
  content: "\e669";
}

.icon-protect:before {
  content: "\e66a";
}

.icon-drug:before {
  content: "\e666";
}

.icon-hear:before {
  content: "\e663";
}

.icon-ear:before {
  content: "\e664";
}

.icon-beat:before {
  content: "\e665";
}

.icon-23:before {
  content: "\e662";
}

.icon-good:before {
  content: "\e660";
}

.icon-bad:before {
  content: "\e661";
}

.icon-format:before {
  content: "\e65f";
}

.icon-strike:before {
  content: "\e65e";
}

.icon-full:before {
  content: "\e65d";
}

.icon-gene:before {
  content: "\e600";
}

.icon-count:before {
  content: "\e65a";
}

.icon-order:before {
  content: "\e65b";
}

.icon-google:before {
  content: "\e657";
}

.icon-facebook:before {
  content: "\e658";
}

.icon-twitter:before {
  content: "\e659";
}

.icon-cart:before {
  content: "\e656";
}

.icon-bulb:before {
  content: "\e655";
}

.icon-download:before {
  content: "\e654";
}

.icon-home:before {
  content: "\e601";
}

.icon-bar:before {
  content: "\e653";
}

.icon-right:before {
  content: "\e651";
}

.icon-left:before {
  content: "\e652";
}

.icon-unlock:before {
  content: "\e650";
}

.icon-verify:before {
  content: "\e64a";
}

.icon-date:before {
  content: "\e64b";
}

.icon-log:before {
  content: "\e64c";
}

.icon-forbid:before {
  content: "\e64d";
}

.icon-transfer:before {
  content: "\e64e";
}

.icon-reader:before {
  content: "\e64f";
}

.icon-phone:before {
  content: "\e648";
}

.icon-file:before {
  content: "\e649";
}

.icon-ol:before {
  content: "\e63e";
}

.icon-undo:before {
  content: "\e646";
}

.icon-redo:before {
  content: "\e647";
}

.icon-bold:before {
  content: "\e63a";
}

.icon-italic:before {
  content: "\e63b";
}

.icon-underline:before {
  content: "\e63c";
}

.icon-ul:before {
  content: "\e63d";
}

.icon-image:before {
  content: "\e63f";
}

.icon-video:before {
  content: "\e640";
}

.icon-quote:before {
  content: "\e641";
}

.icon-code:before {
  content: "\e642";
}

.icon-preview:before {
  content: "\e643";
}

.icon-help:before {
  content: "\e644";
}

.icon-h:before {
  content: "\e645";
}

.icon-prestige:before {
  content: "\e638";
}

.icon-v:before {
  content: "\e639";
}

.icon-score:before {
  content: "\e637";
}

.icon-plus:before {
  content: "\e635";
}

.icon-followed:before {
  content: "\e636";
}

.icon-mytopic:before {
  content: "\e633";
}

.icon-up:before {
  content: "\e634";
}

.icon-trash:before {
  content: "\e632";
}

.icon-fold:before {
  content: "\e62c";
}

.icon-thank:before {
  content: "\e62d";
}

.icon-report:before {
  content: "\e62e";
}

.icon-qzone:before {
  content: "\e62f";
}

.icon-at:before {
  content: "\e630";
}

.icon-attach:before {
  content: "\e631";
}

.icon-bell:before {
  content: "\e62b";
}

.icon-triangle:before {
  content: "\e62a";
}

.icon-wechat:before {
  content: "\e628";
}

.icon-lock:before {
  content: "\e629";
}

.icon-i:before {
  content: "\e626";
}

.icon-bubble:before {
  content: "\e627";
}

.icon-flag:before {
  content: "\e625";
}

.icon-txweibo:before {
  content: "\e622";
}

.icon-bestbg:before {
  content: "\e623";
}

.icon-best:before {
  content: "\e624";
}

.icon-job:before {
  content: "\e61e";
}

.icon-favor:before {
  content: "\e620";
}

.icon-down:before {
  content: "\e621";
}

.icon-location:before {
  content: "\e61d";
}

.icon-bind:before {
  content: "\e61f";
}

.icon-weibo:before {
  content: "\e618";
}

.icon-qq:before {
  content: "\e619";
}

.icon-signup:before {
  content: "\e61a";
}

.icon-users:before {
  content: "\e61b";
}

.icon-topic:before {
  content: "\e61c";
}

.icon-login:before {
  content: "\e617";
}

.icon-logout:before {
  content: "\e616";
}

.icon-insert:before {
  content: "\e612";
}

.icon-setting:before {
  content: "\e615";
}

.icon-inbox:before {
  content: "\e614";
}

.icon-pic:before {
  content: "\e610";
}

.icon-user:before {
  content: "\e613";
}

.icon-delete:before {
  content: "\e611";
}

.icon-comment:before {
  content: "\e60f";
}

.icon-share:before {
  content: "\e60e";
}

.icon-loading:before {
  content: "\e60d";
}

.icon-inviteask:before {
  content: "\e60c";
}

.icon-list:before {
  content: "\e602";
}

.icon-ask:before {
  content: "\e603";
}

.icon-search:before {
  content: "\e604";
}

.icon-more:before {
  content: "\e605";
}

.icon-agree:before {
  content: "\e606";
}

.icon-disagree:before {
  content: "\e607";
}

.icon-reply:before {
  content: "\e608";
}

.icon-draft:before {
  content: "\e609";
}

.icon-check:before {
  content: "\e60a";
}

.icon-invite:before {
  content: "\e60b";
}

.icon-edit:before {
  content: "\e65c";
}

