<% layout("./layout.html") %>

<% block("title", function(){ %>
归档 - <%= options.title %>
<% }) %>

<% block("headers", function(){ %>
<link rel="canonical" href="<%= site_url %>/archives" />
<% }) %>

<% block("content", function(){ %>
<article class="post archive">
    <h1 class="title">归档</h1>
    <% for (const yearMonth in list) { const data = list[yearMonth]; %>
    <div class="entry-content">
        <h3><%= yearMonth %> (<%= data.length %>)</h3>
        <ul>
        <% for (const item of data) { %>
        <li>
            <a href="/post/<%= item.pathname %>.html" title="<%= item.title %>"><%= item.title %></a>&nbsp;
            <span class="date"><%= think.datetime(item.create_time, 'YYYY-MM-DD') %></span>
        </li>
        <% } %>
        </ul>
    </div>
    <% } %>
</article>
<% }) %>
