<% layout("./layout.html") %>

<% block("title", function(){ %>
<% if (tag) { %>标签 <%= tag %> - <% } else if (cate) { %>分类 <%= cate %> - <% } %><%= options.title %>
<% }) %>

<% block("headers", function(){ %>
<link rel="canonical" href="<%= site_url %>/<%= tag ? 'tag/' + pathname : (cate ? 'cate/' + pathname : '') %><%= pagination.currentPage > 1 ? '?page=' + pagination.currentPage : '' %>" />
<% }) %>

<% block("content", function(){ %>
<section id="page-index">

  <% if (tag) { %>
  <h1 class="intro">标签<a href="<%= site_url + ctx.url %>"><%= tag %></a>下的文章</h1>
  <% } else if (cate) { %>
  <h1 class="intro">分类<a href="<%= site_url + ctx.url %>"><%= cate %></a>下的文章</h1>
  <% } %>

  <% for (const post of posts) { %>
  <article class="post">
    <div class="meta">
      <div>
        <% if (post.user) { %>
          <% const user = post.user; %>
          <span class="author">
            <%= user.display_name ? user.display_name : user.name %>
          </span>
          <span>发布于</span>
        <% } %>
        <span class="date"><%= think.datetime(post.create_time, 'MM月DD, YYYY') %></span>
      </div>
      <div class="comment">
          <a href="/post/<%= post.pathname %>.html#comments"><%= post.comment_num %> comments</a>
      </div>
    </div>

    <h1 class="title">
      <a href="/post/<%= post.pathname %>.html"><%= post.title %></a>
    </h1>

    <div class="entry-content">
      <%~ post.summary %>
      <p class="more">
          <a href="/post/<%= post.pathname %>.html">阅读全文 »</a>
      </p>
    </div>

  </article>
  <% } %>
  <%~ include("./inc/pagination.html") %>
</section>
<% }) %>
