<% layout("./layout.html") %>

<% block("title", function(){ %>
标签 - <%= options.title %>
<% }) %>

<% block("headers", function(){ %>
<link rel="canonical" href="<%= site_url %>/tags" />
<% }) %>

<% block("content", function(){ %>
<article class="post tags">
  <h1 class="title">标签</h1>
  <div class="entry-content">
    <section>
      <% for (const tag of tags) { %>
      <a href="/tag/<%= tag.pathname %>" data-tag="<%= tag.name %>"><%= tag.name %>(<%= tag.count %>)</a>
      <% } %>
    </section>
  </div>
</article>
<% }) %>
