@import "~sweetalert2/dist/sweetalert2.min.css";
// 取消sweetalert外轮廓
.swal2-modal .swal2-styled:focus {
    box-shadow: none !important;
    font-weight: normal !important;
}

.page-list {
    padding: 15px;
}

.page-create {
    .ant-form-item {
        margin-bottom: 15px;
    }
}