<% include inc/before.html %>

<% var index = true; %>
<div itemscope itemtype="http://schema.org/Blog">
  <% list.forEach(function(post) { %>
  <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"><% include inc/article.html %></article>
  <% }) %>
</div>
<nav id="pagenavi">
  <% if (paginator.previous_page) { %>
  <a href="<%= root_url %>/post/list?page=<%= paginator.previous_page %>" class="prev">Prev</a>
  <% } %>
  <% if (paginator.next_page) { %>
  <a href="<%= root_url %>/post/list?page=<%= paginator.next_page %>" class="next">Next</a>
  <% } %>
  <div class="center"><a href="<%= root_url %>/archives">Blog Archives</a></div>
</nav>

<% include inc/after.html %>

