<% include inc/before.html %>

<div itemscope itemtype="http://schema.org/Blog">

    <div id="content" class="inner">
        <article class="post detail hentry">
            <h1 class="title entry-title">全部标签</h1>

            <div class="entry-content">
                <ul>
                    <% list.forEach(function(tag){ %>
                    <li><a href="<%= site.url %>tag/<%= tag.id %>"><%= tag.name %>(<%= tag.count %>)</a></li>
                    <% })%>
                </ul>
            </div>
        </article>
    </div>
</div>

<% include inc/after.html %>

