<html>
<head lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FireKylin</title>  
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css">
<script src="/static/node_modules/jquery/dist/jquery.js"></script>
<style type="text/css" media="screen">
body{
  background: #F6F6F3
}
.login{
  width: 300px;
  margin: auto;
  margin-top:180px;
}
h1{
  margin-bottom: 30px;
}
a:hover{
  text-decoration: none;
}
</style>
</head>
<body>
<div class="container">
  <div class="row">
      <div class="login">
      <h1 class="text-center">
        <a href="/">Firekylin</a>
        </h1>
        <form role="form" action="/admin/index/login" method="post">
          <div class="form-group">
            <input type="text" required class="form-control" placeholder="<%= _('username')%>" name="username">
          </div>
          <div class="form-group">
            <input type="password" required class="form-control" placeholder="<%= _('password')%>" name="password">
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block"><%= _('Sigin')%></button>
        </form>
      </div>
  </div>
</div>
</body>
