{% extends './layout.html' %}

{% block content %}
<section id="page-index">
    {% for post in postList.data %}
    <article>
        <div class="meta">
            <div class="date">1月 09 , 2016</div>
            <div class="tags">
                {% for tag in post.tag %}
                <a href="/tags/{{tag.name}}">{{tag.name}}</a>, 
                {% endfor %}
            </div>
        </div>
        <h1>
            <a href="/post/{{post.pathname}}.html">{{post.title}}</a>
        </h1>
        <div class="desc">{{post.summary | safe}}</div>
        <p class="more">
            <a href="/post/{{post.pathname}}.html">阅读全文 »</a>
        </p>
    </article>
    {% endfor %}
</section>
{% endblock %}