{% extends './layout.html' %}

{% block title %}
归档 - {{options.title}}
{% endblock %}

{% block content %}
<div id="page-archive">
    <h1>归档</h1>
    {% for yearMonth,data in list%}
    <section>
        <h1 class="year">{{yearMonth}}</h1>
        {% for item in data %}
        <article>
            <div class="meta">
                <span class="time">{{think.datetime(item.create_time)}}</span>
                <span class="tags">
                    {% for tag in item.tag %}
                    <a href="/tags/{{tag.name}}" data-tag="{{tag.name}}">{{tag.name}}</a>
                    {% endfor %}
                </span>
            </div>
            <h1>
                <a href="/post/{{item.pathname | safe}}.html">{{item.title}}</a>
            </h1>
        </article>
        {% endfor %}
    </section>
    {% endfor %}
</div>
{% endblock %}

