{% extends './layout.html' %}

{% block title %}
{{options.title}}
{% endblock %}

{% block content %}
<section id="page-index">
    {% for post in postList.data %}
    <article>
        <h1>
            <a href="/post/{{post.pathname}}.html">{{post.title}}</a>
        </h1>
        <div class="meta">
            <div class="date">{{think.datetime(post.create_time, 'MM月DD, YYYY')}}</div>
            <div class="comments">
                71 comments
            </div>
        </div>
        <div class="desc">{{post.summary | safe}}</div>
        <p class="more">
            <a href="/post/{{post.pathname}}.html">阅读全文 »</a>
        </p>
    </article>
    {% endfor %}
</section>
{% endblock %}