<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta">
    <span class="date"><time datetime="<%= post.date %>" itemprop="datePublished"><%= filters.formatDate(post.date, 'M/D') %></time></span>
    <br>
    <span class="tags"><% include post/categories.html %></span>
    <% if (site.disqus_short_name && post.comments == true && site.disqus_show_comment_count == true) { %>
    <span class="comments"><a href="/<%= site.url %><%= post.url %>#disqus_thread">Comments</a></span>
    <% } %>
  </div>
  <h1 class="title" itemprop="name"><a href="/<%= site.url %><%= post.url %>"><%= post.title %></a></h1>
</article>