<div class="meta">
  <div class="date"><% include post/date.html %></div>
  <div class="tags"><% include post/categories.html %></div>
  <div class="tags"><% include post/tags.html %></div>
  <% if (site.discuss_on && site.discuss_numbercode) { %>
  <div class="comments"><%- filters.parseCode(site.discuss_numbercode, post) %></div>
  <% } %>
</div>
<% if (typeof index !== 'undefined') { %>
<h1 class="title" itemprop="name"><a href="/<%= site.url %><%= post.url %>" itemprop="url"><%= post.title %></a></h1>
<div class="entry-content" itemprop="articleBody">
  <% var content = filters.flatHTML(filters.markdown(post.content)) %>
  <%- filters.excerpt(content) %>
  <% if (content.length > filters.excerpt(content).length) { %><a href="/<%= site.url %><%= post.url %>" class="more-link">继续阅读 »</a><% } %>
</div>
<% } else { %>
  <h1 class="title" itemprop="name"><%= post.title %></h1>
  <div class="entry-content" itemprop="articleBody">
    <%- filters.markdown(post.content) %>
    <% if (site.post_showurl) { %>
      <p>本文链接：<a href="/<%= site.url %><%= post.url %>"><%= site.url %><%= post.url %></a></p>
    <% } %>
    <p class="post-info">于 <span class="date"><%= filters.formatDate(post.date, 'YYYY-MM-DD HH:mm:ss') %></span> 发表于「<% include post/categories.html %>」分类下<% if (post.date.toString() != post.modify_date.toString()) { %>，最后修改于 <span class="date"><%= filters.formatDate(post.modify_date, 'YYYY-MM-DD HH:mm:ss') %></span><% } %>。</p>
  </div>
<% } %>
