<!DOCTYPE HTML>
<% if (site.lang) { %>
<html lang="<%= site.lang %>">
<% } else { %>
<html>
<% } %>
<head>
  <meta charset="utf-8">
  <title><% if (page.title) { %><%= page.title %> | <% } %><%= site.seo_title || site.title %></title>
  <meta name="author" content="<%= site.author %>">
  <meta name="description" content="<%= filters.truncate(page.description, 150) %>">
  <% if (page.keywords) { %><meta name="keywords" content="<%= page.keywords %>"><% } %>

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if (site.rss_on) { %>
  <link rel="alternate" href="/atom.xml" title="<%= site.title %>" type="application/atom+xml">
  <% } %>
  <link href="/static/dist/web.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>
