<div class="profilepic">
  <img src="<%= site.url %>/static/images/logo.jpg" alt="Profile Picture" style="width: 160px;" />
</div>
<% include ../custom/header.html %>
<nav id="main-nav"><% include navigation.html %></nav>
<nav id="sub-nav">
  <div class="social">
    <% if (site.sns_email) { %>
    <a class="email" href="mailto:<%= site.sns_email %>" title="Email">Email</a>
    <% } %>
    <% if (site.sns_facebook) { %>
    <a class="facebook" href="http://www.facebook.com/<%= site.sns_facebook %>" title="Facebook">Facebook</a>
    <% } %>
    <% if (site.sns_googleplus) { %>
    <a class="google" href="https://plus.google.com/<%= site.sns_googleplus %>" rel="author" title="Google+">Google+</a>
    <% } %>
    <% if (site.sns_twitter) { %>
    <a class="twitter" href="http://twitter.com/<%= site.sns_twitter %>" title="Twitter">Twitter</a>
    <% } %>
    <% if (site.sns_github) { %>
    <a class="github" href="https://github.com/<%= site.sns_github %>" title="GitHub">GitHub</a>
    <% } %>
    <% if (site.sns_stackoverflow) { %>
    <a class="stackoverflow" href="http://stackoverflow.com/users/<%=site.sns_stackoverflow%>/<%=site.stackoverflow_user%>" title="StackOverflow"></a>
    <% } %>
    <% if (site.sns_douban) { %>
    <a class="douban" href="https://www.douban.com/people/<%= site.sns_douban %>" title="豆瓣">豆瓣</a>
    <% } %>
    <% if (site.sns_weibo) { %>
    <a class="quora" href="https://weibo.com/<%= site.sns_weibo %>" title="微博">微博</a>
    <% } %>
    <% if (site.rss_on) { %>
    <a class="rss" href="<%= site.url %>atom.xml" title="RSS">RSS</a>
    <% } %>
  </div>
</nav>
