.pathname {
  overflow: hidden;
  margin-bottom: 15px;
}
.pathname > span {
  float: left;
  line-height: 39px;
}
.pathname > .form-group {
  float: left;
  min-width: 320px;
  margin: 0 5px;
  display: inline-block;
}


.md-panel {
  height: 550px;
}

.md-panel.fullscreen {
  height: auto;
}

.rc-select-dropdown-menu {
  max-height: 200px;
  overflow: hidden;
}

.is-public-radiogroup {
  padding: 0 1px;  
}
/** 文章编辑右侧 **/
.post-create .col-xs-3 > div.button-group {
  margin-top: 25px;
  margin-bottom: 15px;
}
.post-create .col-xs-3 > div.button-group > button {
  width: 45%;
}
.post-create .col-xs-3 > div.button-group > button:last-child {
  float: right;
}
